{{!-- <nav class="navbar navbar-expand-lg navbar-light "> --}}
  <nav class="navbar navbar-expand-xl navbar-dark fixed-top navbar-inverse">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" href="#">Create New CM </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Enter CM Metrics</a>
      </li>
       <li class="nav-item ">
        <a class="nav-link" href="#">myEEM Metrics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Service Review</a>
      </li>
       <li class="nav-item ">
        <a class="nav-link" href="#">Admin Panel</a>
      </li>
     </ul>
    
  </div>
</nav>




<section class="secondnavbar">
  <div class="container-fluid">
    <div class="row">
      <div class="hide">
      <i class="fa fa-home  myicon"  aria-hidden="true"></i>
      </div>
      <div class="col-md-9 terebin">
        <ul>
          <li class="padd">
            <a style="text-decoration:none" href="#">Search results for abbvie</a>
          </li>
          <li class="liti">
            <a style="text-decoration:none" href="#">CM Overview</a>
          </li>
        </ul>
      </div>
      <div class="col-md menu">
        <ul class="firsttag">
          <li class="padd"> 
            <a  style="text-decoration:none" href="#">CM Overeview</a>
          </li>
          <li class="liti"  >
            <a style="text-decoration:none" href="#">CM Product Overeview</a>
          </li>
        </ul>
      </div>
     
    </div>
  </div>
</section>
<style>
  .fromsection{
    margin-top:5%;
  }
  .myicon{
    background-color: #aaa;
    position: absolute;
   padding: 9px 9px;
    min-width: 30px;
  }
  .revs i{
    margin-top: 1.1%;
    margin-left:0.2% ;
  }
  /*Navbar */
  .navbar{
  background:#007bff;
  
}
.navbar-nav li a{
  color: #fff !important;
}
.navbar-nav li {
  padding-left: 180px;
}
.navbar-toggler-icon{
 
   border-color: black;
   color: black;
}
.navbar-toggle{
  
  border: 2px solid black;
  background-color: white !important;
}
@media only screen and (max-device-width: 972) {

.navbar-nav li a{
  color: black !important;
}

}
@media screen and (max-width: 768px) {

.hide {display: none;}
  .secondnavbar{margin-top: 18%;}

}
/*Foote */

  section{
  background-color: pink;
  font-weight: 500;
  width: 100%;
  margin-top:3.3%;
 
}
.terebin ul{
   list-style: none;
  display: flex;
}
 .menu ul{
   list-style: none;
  display: flex;
  justify-content: end;
  margin-bottom: 0% !important;
}
.menu ul li a {
  margin-right:0%;
}

.liti ::before{
content: '|';
color: #007bff;
padding-right: 10px;
}
.padd{
  padding-right: 10px;
}

</style>
{{!-- <div class="col-md-1 hey">
<div class="row Titlecolor">
      <h6>General</h6>
    </div>
</div>
<!--Abriviation Section -->
<div class="mast">
<div class="row reviewSection">
  <div class="col-md-10 ">
     <h4 class="italic">ABBVIE</h4>
      <p>DEPT GS02 BLDG APS </br>NORTH CHICAGO </br>USA</p>
  </div>
  <div class="col-md-2 table">
     <p class="review">MP:0000396234</br> Service Review:</p>
  </div>
</div>
</div>
--}}
<!---Form Section -->
<div class="mast fromsection">
<div class="row reviewSection cardBorders">
  <div class="col-md Forms">
        <h6 class="wwwww">hey</h6>
  </div>
  <div class="col-md Forms">
     <p class="review">MP:0000396234</br> Service Review:</p>
  </div>
  <div class="col-md Forms">
     <p class="review">MP:0000396234</br> Service Review:</p>
  </div>
  <div class="col-md Forms">
     <p class="review">MP:0000396234</br> Service Review:</p>
  </div>
  <div class="col-md Forms">
     <p class="review">MP:0000396234</br> Service Review:</p>
  </div>
</div>
</div> 

{{!-- <section id="abvveieSection">
  <div class="container">
    <div class="row reviewSection">
      <div class="col-md-12">
        <p>ajshhbs</p>
      </div>
       </div>
  </div>
</section> 
<section id="abvveieSection">
  <div class="container">
    <div class="row  xyz ">
      <div class="col-md Forms">
           <p>ajshhbs</p>
      </div>
         <div class="col-md Forms">
           <p>ajshhbs</p>
      </div>
         <div class="col-md Forms">
           <p>ajshhbs</p>
      </div>
         <div class="col-md Forms">
           <p>ajshhbs</p>
      </div>
         <div class="col-md Forms">
           <p>ajshhbs</p>
      </div>
     
     
       
    </div>

  </div>
</section>  
  
<div class="row">
  <div class="col-md Forms">
           <p>ajshhbs</p>
      </div>
      <div class="col-md Forms">
           <p>ajshhbs</p>
      </div>
      <div class="col-md Forms">
           <p>ajshhbs</p>
      </div>
     
 
</div>

<div class="fixed-size-container reviewSection">
  
    <div class="fixed-size abc">
             <h4>ABBVIE</h4>
          <p>DEPT GS02 BLDG APS </br>NORTH CHICAGO </br>USA</p>
    </div>
      <div class="fixed-size cde">
              <p>MP:0000396234</br> Service Review:</p>
      </div>
       
        
            
      
  

  </div>
</div>
--}}
<style>
  .wwwww{
    background-color: #007bff;
    padding-left: 4%;
  }
</style>